    <div class="card shadow-sm">
      <img class="bd-placeholder-img card-img-top img-responsive" max-width="50%"   src='{{livro.img}}'>

      <div class="card-body">
        <p class="card-text">{{ livro.title }}</p>
        <p class="card-text">{{ livro.author.firstName }} {{ livro.author.lastName }}</p>
        <p class="card-text">{{ livro.price | currency:'BRL'}}</p>

        <div class="d-flex justify-content-space-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['details', livro.id]">Detalhes</button>
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['edit', livro.id]">Editar</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteBook(livro)">Deletar</button>
          </div>
        </div>
      </div>
    </div>
